@font-face {
    font-family: 'Hello-Kitty';
    src: url('Hello-Kitty/Boldins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

/* Contenitore principale */
.container {
    display: flex;
    height: 100vh;
    position: relative;
}

/* Linea verticale centrale */
.container::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 2px;
    background: linear-gradient(to bottom, transparent, black, transparent);
}

/* Sezioni sinistra e destra */
.left-box,
.right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Testo a sinistra */
.left-box p {
    font-size: 3rem;
    text-align: center;
    margin: 10px 0;
}

/* Link senza stile blu */
.left-box a {
    text-decoration: none;
    color: inherit;
    margin: 10px 0;
    text-align: center;
}

/* Immagine a destra */
.right-box img {
    max-width: 100%;
    max-height: 100%;
    
}

